#back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
#back-button span {
  display: none;
}

#back-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

@media (min-width: 768px) {
  #back-button {
    top: 100px;
    left: 20px;
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    background-color: #b6da7e;
    border: 2px solid #b6da7e;
    border-radius: 20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  #back-button svg {
    width: 24px;
    height: 24px;
  }

  #back-button span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
}
/* @media (min-width: 768px) {
  .user-card {
    margin-top: 120px;
  }
} */
