/* #profil {
  display: flex;
  width: 317px;
  height: 120px;
  border-radius: 60px 10px 10px 10px;
  margin: 35px auto;
  position: relative;
  color: #ffffff;
}

#profil img {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -13px;
}
#profil div {
  border: 4px solid #ffffff;
  border-radius: 10px;
  width: 307px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

#profil p {
  padding-left: 1.8rem;
} */

.kort {
  background-color: #a68ec1;
  height: 120px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #b6da7e;
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 390px;
}

#menu {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.kort img {
  width: 50%;
  max-width: 100px;
  height: auto;
}

.homepagebtn {
  background-color: #446036;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  height: 50px;
  width: 150px;
  border: none;
  transition: transform 0.2s ease;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.homepagebtn:hover {
  transform: scale(1.05);
  border: solid 2px white;
}

@media (min-width: 768px) {
  #menu {
    flex-direction: row;
    padding-top: 5rem;
  }
}
