/* #profil {
  display: flex;
  width: 317px;
  height: 120px;
  border-radius: 60px 10px 10px 10px;
  margin: 35px auto;
  position: relative;
  color: #ffffff;
}

#profil img {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -13px;
}
#profil div {
  border: 4px solid #ffffff;
  border-radius: 10px;
  width: 307px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

#profil p {
  padding-left: 1.8rem;
} */

.kort {
  background-color: #a68ec1;
  width: 317px;
  height: 120px;
  border-radius: 10px;
  margin: 50px auto;
  border: 2px solid #b6da7e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kort div {
  background-color: #446036;
  border-radius: 10px;
  height: 60px;
  width: 158px;
  align-items: center;
  justify-content: center;
  display: flex;
}

h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: lighter;
}

@media (min-width: 768px) {
  main {
    display: flex;
    align-items: flex-start;
  }
  .kort {
    height: 774px;
    width: 310px;
  }
}
