/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #000;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: black;
  font-weight: bold;
}
