@font-face {
  font-family: Baloo2;
  src: url("../style/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url("../style/fonts/Montserrat.ttf") format("truetype");
}

:root {
  /* COLORS */
  --dark-green: #446036;
  --light-green: #b6da7e;
  --purple: #a68ec1;

  --text-light: #ffffff;
  --text-dark: #000000;

  /* FONTS */
  --header-font: ;
  --body-font: ;
}

body {
  font-family: var(--body-font), Arial, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #000;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: black;
  font-weight: bold;
}
