/* *********** FIX FIX  */
body {
  background: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0 2rem 0 2rem;
}

h3 {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

/* .user-wrapper-mobile {
  display: block;
  text-align: center;
}

.user-wrapper-desktop {
  display: none;
  text-align: center;
} */

#map-wrapper {
  position: relative;
  width: 100%;
  max-width: 1930px;
}

.user-card-map {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 90%;
  max-width: 400px;
}

/* .page-header {
  position: absolute;
  top: 1rem;
  left: 7rem;
  z-index: 10;
}

.page-header h1 {
  width: auto;
}

.page-header p {
  width: 10rem;
} */

#svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 1930px;
  /* height: calc(100vh - 300px); */
  margin: 2rem auto 0 auto;
}

#svg-container svg {
  width: auto;
  height: 100%;
  display: block;
}

#svg-container path:hover {
  fill: var(--dark-green);
}

#svg-container path {
  fill: var(--light-green);
  transition: fill 0.2s;
  cursor: pointer;
}

#feedback-wrapper {
  display: none;
  background-color: var(--dark-green);
  color: var(--text-light);
  border-radius: 15px;
  border: solid var(--light-green) 3px;
  padding: 1rem;
  height: fit-content;
  margin-top: 2rem;
}

#feedback-wrapper p {
  margin-top: 0;
}

@media screen and (min-width: 780px) {
  main {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

  .user-card-map {
    position: static;
    transform: none;
    width: 300px;
  }

  #map-wrapper {
    position: static;
    flex: 1;
  }

  /* .user-wrapper-mobile {
    display: none;
  }

  .user-wrapper-desktop {
    display: block;
  } */

  #feedback-wrapper {
    display: block;
    width: 300px;
    margin-top: 0;
  }
}
