main {
  display: flex;
  flex-direction: column;
}

.province-wrapper {
  background-color: var(--purple);
  border-radius: 15px;
  border: solid 3px var(--light-green);
  max-width: 63rem;
  margin-top: 3rem;
  max-height: calc(100vh - 125px - 3rem);
  overflow: auto;
}

.province-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.province-header img {
  width: clamp(4rem, 20vw, 10rem);
  height: auto;
  object-fit: contain;
  display: block;
}

.province-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(8rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin: 1rem;
  /* grid-auto-rows: 1fr; */
}

.province-grid article {
  aspect-ratio: 1 /1;
  border-radius: 15px;
  border: solid 3px var(--white);
  min-height: 5rem;
  max-height: 20rem;
  width: 100%;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--text-light);
}

.card figure {
  flex: 7;
  margin: 0;
  overflow: hidden;
  min-height: 0;
}

.card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 12px 12px 0 0; */
}

.card-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  padding: 0.2rem;
  background: var(--dark-green);
  /* border-radius: 0 0 15px 15px; */
  /* height: 30%; */
  /* min-height: 32px; */
}

.card-content h2 {
  font-size: clamp(16px, 3vw, 25px);
  margin: 0;
}

.card-content p {
  margin: 0;
}

.card-button {
  all: unset;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* padding-right: 3%; */
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-green);
  padding: 2rem;
  width: 50%;
  max-width: 50rem;
  height: auto;
  border-radius: 15px;
  border: solid 3px var(--dark-green);
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-header figure {
  width: 30%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  min-width: 7rem;
  max-width: 15rem;
  border-radius: 15px;
  border: solid 3px var(--white);
  margin: 0 0 0 10%;
  overflow: hidden;
}

.popup-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.popup-header h3 {
  padding-right: 20%;
}

.popup-content dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.5rem;
  column-gap: 0.2rem;
}

.popup-content dl dt {
  font-weight: bold;
}

.popup-content dl dd {
  margin-left: 0;
}

.popup-content .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .province-wrapper {
    max-height: calc(100vh - 125px - 3rem);
  }
}

@media screen and (min-width: 668px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .province-grid article {
    aspect-ratio: auto;
    min-height: 12rem;
    max-height: 20rem;
  }

  .card {
    flex-direction: row;
    height: 100%;
  }

  .card figure {
    flex: 7;
  }

  .card figure img {
    border-radius: 15px 0 0 15px;
  }

  .card-content {
    flex: 3;
    /* height: 100%; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 15px 15px 0;
    padding: 1rem;
  }
}
