main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.user-card img {
  z-index: 0;
}

.quiz-wrapper {
  background-color: var(--light-green);
  border-radius: 15px;
  border: solid 3px var(--dark-green);
  /* max-width: 63rem; */
  overflow: auto;
  /* padding-bottom: 1rem; */
  margin: 0 auto;
  padding: 1rem;
}

.quiz-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

#question-wrapper {
  padding: 0;
}

#question-counter {
  width: 20%;
  min-width: 91px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.chart-container {
  width: 80%;
  max-width: 500px;
  min-width: 50px;
  height: 40px;
}

#question-counter-bar {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

#question-img {
  display: block;
  margin: 0.5rem auto;
  /* max-width: 400px; */
  /* width: 80%; */
  height: auto;
  border-radius: 5%;
  width: clamp(210px, 60%, 20rem);
  max-height: 20rem;
}

.button {
  width: 100%;
  min-width: 130px;
  max-width: 160px;
  font-size: 16px;
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: var(--dark-green);
  color: var(--white);
  text-align: center;
  height: auto;
  min-height: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--light-green);
  border-radius: 6px;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  border: solid 2px white;
}

#quiz-end-buttons {
  gap: 2rem;
}

#next-button {
  margin-top: 2.5rem;
}

#next-button:not(:disabled) {
  cursor: pointer;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.wrong {
  background-color: #e53935;
  color: white;
}

.button:disabled {
  opacity: 0.7;
  cursor: default;
}

@media screen and (min-width: 668px) {
  .quiz-grid article {
    aspect-ratio: auto;
    min-height: 10rem;
    max-height: 12rem;
  }
}

@media screen and (min-width: 768px) {
  .quiz-wrapper {
    max-height: calc(100vh - 16px - 3rem);
  }

  .user-card {
    margin-top: 110px;
  }
}

@media screen and (min-width: 850px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .quiz-wrapper {
    margin-top: 3rem;
  }
}
