main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

h1 {
  margin: 0;
}
.user-card img {
  z-index: 0;
}

.quiz-wrapper {
  background-color: var(--light-green);
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 3rem;
}

.quiz-wrapper--country {
  margin-top: 3rem;
}

.quiz-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-header--province {
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.quiz-header--country {
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;
}

.quiz-header--country p {
  margin: 0;
}

.quiz-header--country p:last-child {
  font-size: 14px;
}

#question-wrapper {
  padding: 0;
}

.question-wrapper--country {
  margin-top: 0.5rem;
}

#question-counter {
  width: 20%;
  min-width: 91px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.chart-container {
  width: 80%;
  max-width: 500px;
  min-width: 50px;
  height: 40px;
}

#question-text {
  font-size: 20px;
  font-weight: 500;
  margin: 1.5rem 0 1rem 0;
}

#question-counter-bar {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

#question-img {
  width: clamp(250px, 28vw, 100%);
  height: clamp(160px, 19vw, 200px);
  object-fit: cover;
  display: block;
  margin: 0.5rem auto;
  border: solid 3px var(--dark-green);
  border-radius: 5px;
}

#quiz-end-img {
  display: none;
  max-height: 300px;
  margin: 0 auto;
}

#question-answers {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto 0 auto;
  justify-items: center;
}

.button {
  width: 100%;
  min-width: 130px;
  max-width: 160px;
  font-size: 16px;
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: var(--dark-green);
  color: var(--white);
  text-align: center;
  height: auto;
  min-height: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border: solid 2px var(--light-green);
  border-radius: 6px;
  transition: transform 0.2s ease;
}

ul .button {
  margin: 0;
}

.button:hover {
  transform: scale(1.05);
  border: solid 2px white;
}

#quiz-end-buttons {
  gap: 2rem;
  margin-bottom: 2rem;
}

#quiz-feedback {
  width: 100%;
}

#next-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#next-button:not(:disabled) {
  cursor: pointer;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.wrong {
  background-color: #e53935;
  color: white;
}

.button:disabled {
  opacity: 0.7;
  cursor: default;
}

@media screen and (max-width: 400px) {
  .quiz-wrapper {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 668px) {
  .quiz-grid article {
    aspect-ratio: auto;
    min-height: 10rem;
    max-height: 12rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .quiz-wrapper {
    /* max-height: calc(100vh - 16px - 3rem); */
    width: clamp(320px, 90%, 600px);

    margin-top: 3rem;
    padding: 0 5rem;
  }

  .user-card {
    margin-top: 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 940px) {
  .quiz-wrapper--country {
    margin-top: 5rem;
  }
}
